body{
    font-family: 'Titillium Web', sans-serif;
  }

.tabs{
    position: fixed !important;
    bottom: 0;
    color: #000b24 !important;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: #000b24 !important;
}

.tabs .tab a{
  color: #000b24 !important;
}