body{
  background: rgb(0, 11, 36);
}

.row{
  margin-bottom: 20px !important;
}

.img-index{
  width: auto;
  height: 2em;
  display: inline-block;
}

.card-main{
  width: 100% !important;
}

.card-detail{
  width: 95% !important;
  padding-bottom: 10px;
}

.card-dsh{
  padding: 15px !important;
  margin-bottom: 20px;
}

iframe{
  border: 0 !important;
}